**#0 Wczytanie danych:**

In [7]:
import pandas as pd
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)
data[0].head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

**#1 Zmiana nagłówków kolumn:**

In [35]:
df = data[0]
df.rename(columns = {'TITLE':'TYTUŁ', 'ARTIST':'ARTYSTA', 'YEAR':'ROK', 'HIGH POSN':'MAX POZ'}, inplace=True)
df.head()

   Pos                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

**#2 Ile jest pojedynczych artystów:**

In [8]:
df['ARTYSTA'].nunique()

47

**#3 Które zespoły pojawiają się najczęściej na liście:**

In [10]:
df['ARTYSTA'].value_counts().head(5)

ARTYSTA
COLDPLAY         3
TAKE THAT        3
FLEETWOOD MAC    2
ABBA             2
DIDO             2
Name: count, dtype: int64

**#4 Zmień nagłówki kolumn:**

In [36]:
df.columns = df.columns.str.title()
df.head()

   Pos                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

**#5 Wyrzuć z tabeli kolumnę ‘Max Poz':**

In [ ]:
df.drop('Max Poz', axis = 1, inplace = True)

**#6 W którym roku wyszło najwięcej albumów znajdujących się na liście?**

In [30]:
df['Rok'].value_counts().head(5)

Rok
2000    4
1987    4
2006    3
1977    3
1998    3
Name: count, dtype: int64

**#7 Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?**

In [33]:
df_filtered = df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)]
albums = df_filtered.shape[0]
print(albums)

22

**#8 W którym roku wydany został najmłodszy album na liście?**

In [34]:
youngest_year = df['Rok'].max()
print(youngest_year)

2015

**#9 Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.**

In [42]:
earliest_albums = df.loc[df.groupby('Artysta')['Rok'].idxmin()]
earliest_albums = earliest_albums[['Artysta', 'Tytuł', 'Rok']]
print(earliest_albums)

                     Artysta                                   Tytuł   Rok
45                      ABBA                           GREATEST HITS  1975
3                      ADELE                                      21  2011
40         ALANIS MORISSETTE                      JAGGED LITTLE PILL  1995
12             AMY WINEHOUSE                           BACK TO BLACK  2006
2                    BEATLES    SGT PEPPER'S LONELY HEARTS CLUB BAND  1967
15  BOB MARLEY & THE WAILERS                                  LEGEND  1984
44                  COLDPLAY                              PARACHUTES  2000
27                     CORRS                         TALK ON CORNERS  1997
25                DAVID GRAY                            WHITE LADDER  1998
24                      DIDO                                NO ANGEL  2000
7               DIRE STRAITS                        BROTHERS IN ARMS  1985
48                ED SHEERAN                                       X  2014
54                    EMINEM                 THE MARSHALL MATHERS LP  2000
10             FLEETWOOD MAC                                 RUMOURS  1977
52            GEORGE MICHAEL        LADIES & GENTLEMEN - THE BEST OF  1998
16               JAMES BLUNT                          BACK TO BEDLAM  2004
36                JEFF WAYNE                   THE WAR OF THE WORLDS  1978
34                     KEANE                         HOPES AND FEARS  2004
32             KINGS OF LEON                       ONLY BY THE NIGHT  2008
29                 LADY GAGA                                THE FAME  2008
22               LEONA LEWIS                                  SPIRIT  2007
11                   MADONNA               THE IMMACULATE COLLECTION  1990
18                 MEAT LOAF                         BAT OUT OF HELL  1977
23             MICHAEL BUBLE                              CRAZY LOVE  2009
5            MICHAEL JACKSON                                THRILLER  1982
41             MIKE OLDFIELD                           TUBULAR BELLS  1973
49               NORAH JONES                       COME AWAY WITH ME  2002
4                      OASIS          WHAT'S THE STORY MORNING GLORY  1995
51   ORIGINAL CAST RECORDING                      THE SOUND OF MUSIC  1965
46       ORIGINAL SOUNDTRACK                                  GREASE  1977
50                PAUL SIMON                               GRACELAND  1986
38              PHIL COLLINS                           BUT SERIOUSLY  1989
6                 PINK FLOYD               THE DARK SIDE OF THE MOON  1973
0                      QUEEN                           GREATEST HITS  1981
59                       REM                AUTOMATIC FOR THE PEOPLE  1992
47           ROBBIE WILLIAMS                 I'VE BEEN EXPECTING YOU  1998
37           SCISSOR SISTERS                         SCISSOR SISTERS  2004
14              SHANIA TWAIN                            COME ON OVER  1997
20         SIMON & GARFUNKEL              BRIDGE OVER TROUBLED WATER  1970
13                SIMPLY RED                                   STARS  1991
57               SNOW PATROL                               EYES OPEN  2006
28               SPICE GIRLS                                   SPICE  1996
58                 TAKE THAT  NEVER FORGET - THE ULTIMATE COLLECTION  2005
43             TRACY CHAPMAN                           TRACY CHAPMAN  1988
42                    TRAVIS                             THE MAN WHO  1999
35                        U2                         THE JOSHUA TREE  1987
17                     VERVE                             URBAN HYMNS  1997

**#10 Listę zapisz do pliku csv.**

In [43]:
df.to_csv('albumy wszechczasów.csv', index=False)